@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets//fonts/PPPangaia-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pangaialight';
  src: url('./assets//fonts/PPPangaia-Ultralight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
